body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h2 {
    color: yellow;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: lightblue;
    text-decoration: none;
}

.equation-img {
    width: 40%; /* 縮小圖片 */
    display: block;
    margin: 20px auto;
}
